<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/anuncio-new.css}">
    <script src="https://kit.fontawesome.com/672cc63c77.js" crossorigin="anonymous"></script>
    <title>Editar anuncio</title>
</head>
<body class="d-flex flex-column align-items-center">
<h3>Modificar Anuncio</h3>
<form class="w-75 w-md-25 d-flex flex-column mt-2" th:action="@{/anuncios/edit/{id}(id=${anuncio.id})}" method="post" enctype="multipart/form-data" th:object="${anuncio}">
    <div class="d-flex flex-row mb-3">
        <input type="text" class="form-control" id="titulo" aria-describedby="titulo" name="titulo" placeholder="titulo"
        th:field="*{titulo}">
        <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="alert alert-warning mx-1"></span>
    </div>
    <div class="d-flex flex-row mb-3">
        <input type="number" class="form-control" id="precio" name="precio" placeholder="precio" step="0.5"
        th:field="*{precio}">
        <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="alert alert-warning mx-1"></span>
    </div>
    <div class="d-flex mb-3">
        <textarea  class="form-control" id="descripcion" name="descripcion" placeholder="descripcion"
        th:field="*{descripcion}"></textarea>
    </div>
    <div class="foto-container">
        <div th:each="foto : ${fotos}"
             class="foto"
             th:style="'background-image: url(/imagesAnuncios/' + ${foto.nombre} + ');'">
            <a th:href="@{/anuncios/{id1}/fotos/{id2}/delete(id1=${anuncio.id}, id2=${foto.id})}" class="cruz-delete-foto">X</a>
        </div>
        <div class="foto" id="nuevaFoto">
            <i class="fa-regular fa-image"></i>
        </div>
    </div>
    <br>
    <input type="submit" value="modificar" class="btn btn-primary w-25">
</form>
<form th:action="@{/anuncios/edit/{id}/addfoto(id=${anuncio.id})}" method="post" enctype="multipart/form-data" id="formulario-add-foto">
    <input type="file" name="archivoFoto" class="file-input" id="nuevoArchivo">
</form>
</body>
<script th:src="@{/js/anuncio-edit.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
